@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: #fff;
  font-size: 14px;
  background-color: #001821;
  line-height: 1.42;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 120px;
}

.header__col, .footer__col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}

.header__col--align--right, .footer__col--align--right {
  display: flex;
  justify-content: flex-end;
}

.logo {
  margin-right: 80px;
}

.menu {
  width: 75%;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  margin-right: 54px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
}

.menu__link:hover {
  color: #DA0100;
}

.contact {
  text-align: right;
}

.contact__tel {
  font-size: 26px;
  text-decoration: none;
  font-style: normal;
}

.contact__schedule {
  font-style: normal;
  text-decoration: underline;
  font-size: 13px;
  color: #98A4A8;
}

.hero {
  width: 50%;
  margin-bottom: 246px;
}

.hero__title {
  margin-bottom: 28px;
}

.hero__title>h1 {
  font-size: 72px;
  font-weight: bold;
}

.hero__subtitle {
  margin-bottom: 34px;
}

.hero__subtitle {
  font-size: 18px;
}

.btn {
  padding: 18px 40px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #F5170E;
  border: 1px solid #F5170E;
  border-radius: 45px;
  font-weight: bold;
}

.hero__btn:hover {
  background-color: #DA0100;
}

.tour {
  margin-bottom: 127px;
}

.tour-title {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: bold;
}

.tour__title-img {
  margin-left: 12px;
}

.tour-list {
  display: flex;
  justify-content: space-between;
}

.tour-block {
  background-color: #fff;
  width: calc(100% / 3 - 18px);
  border-radius: 5px;
}

.tour-block__content{
  padding: 33px 20px 26px 22px;
  color: #000;
}

.tour-block__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
}

.tour-block__conditions-text{
  font-size: 16px;
  color: #666;
}

.tour-block__btn {
  display: inline-block;
}

.tour-block__info {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.tour-block__conditions {
  display: flex;
}

.tour-block__conditions-icon {
  margin-right: 10px;
}

.tour-block__conditions-text {
  margin-right: 28px;
}

.tour-block__conditions-text.food {
  margin-right: 0;
}

.tour-block__par {
  color: #303030;
  margin-bottom: 24px;
}

.tour-block__btn {
  color: #F5170E;
  background-color: #fff;
  padding: 18px 30px;
  width: 24%;
  margin-top: auto;
}

.tour-block__btn:hover {
  color: #fff;
  background-color: #F5170E;
}

.news-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
}

.news {
  margin-bottom:100px;
}

.news__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 50px;
}

.news__item {
  width: 557px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 55px;
}

.news__item:last-child {
  margin-right: 0;
}

.news__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__content {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  padding: 26px 30px;
  min-height: 140px;
}

.news__date {
  display: inline-block;
  font-weight: normal;
  margin-bottom: 12px;
}

.news__subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.news__par {
  font-size: 16px;
  font-weight: normal;
}

.paginator {
  text-align: center;
}

.paginator__display, .paginator__list {
  display: inline-block;
  vertical-align: middle;
}

.paginator__display {
  margin-right: 25px;
}

.paginator__item {
  display: inline-block;
  vertical-align: middle;
}

.paginator__item--active .paginator__link, .paginator__link:hover {
  background: #fff;
  color: #F5170E;
}


.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.about {
  margin-bottom: 180px;
}

.about:before {
  content: "";
  display: inline-block;
  width: 490px;
  height: 505px;
  background: url(../img/gates.png) center center / cover no-repeat;
}

.about__desc {
  background: url(../img/mountains.png) center / cover no-repeat;
  display: inline-block;
  position: absolute;
  border-radius: 5px;
  width: 532px;
  padding: 70px 180px 70px 80px;
  margin-left: -141px;
  margin-top: 138px;
  min-height: 300px;
}

.about__title {
  color: #000;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 37px;
}

.about__desc-text {
  color: #060606;
  font-size: 16px;
  margin-bottom: 43px;
}

.about__desc-text p {
  margin-bottom: 20px;
}

.about__desc-text p:last-child {
  margin-bottom: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 57px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

.footer-contact__schedule {
  order: -1;
}

.socials {
  display: flex;
  margin-right: 80px;
}

.socials__item {
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.wrapper {
  background: url(../img/1.png) center top no-repeat, url(../img/2.png) right bottom -130px no-repeat;
}